body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 100%;
    background-color: white;
    width: 800px;
/*    line-height: 1.5em; */
    padding: 10px 10px 10px 10px;
/*    margin-left: 2em; */
/*    text-transform: lowercase; */
}

/* Title of the resume */
h1 {
    text-align: center;
}
/* Definitions */
dt {
    float: left;
    clear: left;
/*    width: 50%; */
    /*font-weight: bold;*/
}
dd {
    text-align: right;
}
p {
    margin-top:0;
    margin-bottom:0;
}

.dets {
    display: none;
}

/* Blockquotes */
blockquote {
    text-align: center
}

/* Horizontal separators */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000000;
    margin: 0;
/*    width: 80%; */
    padding: 0;
}

table {
    width: 100%;
}