body {
    font-size: 100%;
    background-color: white;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 2em;
    text-transform: lowercase;
}

h3 {
    font-size: 1.5em;
}

#education > title_info {
    font-size: 1.3em;
}

#nameandinfo {
    text-transform: lowercase;
}

