.red {
    color: red;
}

#posts h5 {
	display: inline;
}

.navbar {
    text-transform: lowercase;
	text-align: center;
}

.navbar a {
	text-decoration: none;
}

.navbar a:hover {
	text-decoration: underline;
}

.navbar img {
	padding-left: 5px;
	width: 20px;
}

.navbar h1 {
	display: inline;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.navbutton {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  box-sizing: border-box; }
.navbutton:hover,
.navbutton:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.navbutton.button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.navbutton.button-primary:hover {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }

h3 {
    display: inline;
}

input {
    display: block;
}

label {
    display: block;
}

h4 {
	display: inline;
}

title_info {
    font-size: 1.3em;
    display: block;
}

date_info {
    display: block;
}

other_info {
    display:block;
}

#education {
    margin-top: 1em;
}

#nameandinfo {
    text-transform: lowercase;
    height: 4.5em;
    line-height: 4.5em;
}

#nameandinfo a {
    padding-left: 15px;
}

