body {
    font-size: 100%;
    background-color: white;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 2em;
    text-transform: lowercase;
}

h3 {
    font-size: 1.5em;
}

title_info {
    font-size: 1.3em;
    display: block;
}

date_info {
    display: block;
}

other_info {
    display:block;
}

horizontal_rule {
    min-height: 1.2em;
    border-bottom: 4px solid #000000;
    width: 100%;
}

#nameandinfo {
    text-transform: lowercase;
}

