<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} geoffrosen.com </title>
  <link rel="stylesheet" href="css/main.css" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
</head>
<body>
<div class="container">
	<div class="navbar">
	<div class="row">
	<div class="offset-by-one column"></div>
	<div class="eleven columns">
		<div class="u-pull-left">
		<h1>Geoff Rosen</h1>
		</div>
	</div>
	</div>
	
	<div class="row">
	<div class="offset-by-one column"></div>
	{% include navbar.html %}
	</div>
	<hr>
	</div>
	