<div class="row">
	<div class="twelve columns">
		<h3>Projects</h3>
	</div>
</div>
<div class="row">
	<div class="three columns">
		<a href="upid_parser.html">UPID De-duplicator</a>
	</div>
	<div class="nine columns">
		This is a <b>client side</b> program in <b>javascript</b> based on
		<a href="http://papaparse.com/"><b>Papa Parse 4.3</b></a> that will take
		a file with a UPID column, deduplicte it, and export a csv with the
		deduplicated UPIDs and a dummyVar
	</div>
</div>

<br />
<div class="row">
	<div class="twelve columns">
		<h3>Papers</h3>
	</div>
</div>
<div class="row">
	<div class="three columns">
		<a href="https://academic.oup.com/jid/article/216/6/744/4065066/Group-B-Streptococcus-and-the-Vaginal-Microbiota?guestAccessKey=13a3a610-fc35-403e-89c6-a0c4555536ba">Free access</a>
	</div>
	<div class="nine columns">
		Rosen GH, Randis TM, Desai PV, Sapra KJ, Ma B, Gajer P, Humphrys MS, Ravel J,
Gelber SE, Ratner AJ. Group B Streptococcus and the Vaginal Microbiota. J Infect
Dis. 2017 Sep 15;216(6):744-751. doi: 10.1093/infdis/jix395. PubMed PMID:
<a href="https://www.ncbi.nlm.nih.gov/pubmed/28934437">28934437</a>.
	</div>

</div>

<!--

<div class="row twelve columns">
	<h4>Some Photos</h4>
</div>

-->
