<a class="navbutton" title="Home" href="/">Home</a>
<a class="navbutton" title="Resume" href="/resume.html" target="_blank">Resume</a>
<a class="navbutton" title="Presentations" href="/presentations.html">Presentations</a>
<a class="navbutton" title="Projects" href="/projects.html">Projects</a>
<a class="navbutton" title="Contact" href="/contact.html">Contact</a>
<a class="navbutton" title="About" href="/about.html">About</a>
<div class="navbutton">
	<a title="linkedin" href="https://www.linkedin.com/in/geoffrosen" target="_blank"><img alt="linkedin" src="/img/icons/linkedin-icon.png" /></a>
	<a title="flickr" href="https://www.flickr.com/photos/geoffrosen/" target="_blank"><img alt="flickr" src="/img/icons/flickr-icon.png" /></a>
</div>