<a class="navbutton one column" href="/">Home</a>
<a class="navbutton one column" href="/resume.html" target="_blank">Resume</a>
<a class="navbutton two columns" href="/presentations.html">Presentations</a>
<a class="navbutton one column" href="/projects.html">Projects</a>
<a class="navbutton one column" href="/contact.html">Contact</a>
<a class="navbutton one column" href="/about.html">About</a>
<div class="navbutton one column"><a href="https://www.linkedin.com/in/geoffrosen" target="_blank"><img alt="linkedin" src="/img/icons/linkedin-icon.png" /></a></div>