<script src="js/papaparse.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
  var data;
  var upids = [];
  var unique_upids;
  var item_delim = ',';
  var line_delim = '\n';
  var csvText = 'UPID,dummyVar\n';

  function handleFileSelect(evt) {
	var file = evt.target.files[0];

	Papa.parse(file, {
	  header: true,
	  dynamicTyping: true,
	  complete: function(results) {
		for (var i = 0; i < results.data.length; i++) {
		  var upid = results.data[i]['UPID'];
		  upids.push(upid);
		};
		unique_upids = upids.filter(function(item, i, ar){ return ar.indexOf(item) === i; });
		for (var i = 0; i < unique_upids.length; i++) {
		  this_upid = unique_upids[i];
		  if (this_upid != "") {
			csvText += unique_upids[i];
			csvText += item_delim;
			csvText += "1";
			csvText += line_delim;
		  }
		}
		console.log(csvText);
		var hiddenElement = document.createElement('a');
		hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csvText);
		hiddenElement.targer = '_blank';
		hiddenElement.download = 'unique_upids.csv';
		hiddenElement.click();
	  }
	});

  }


  $(document).ready(function(){
	$("#csv-file").change(handleFileSelect);
  });
</script>
<br />
<div class="row">
	<div class="twelve columns">
		Please select the file that has a column of UPID and this will export the required file
	</div>
</div>
<div class="row">
	<div class="twelve columns">
		If this page keeps freezing, email me. Your file is probably too big
	</div>
</div>
<br />
<div class="row">
	<div class="twelve columns">
		<input type="file" id="csv-file" name="files"/>
	</div>
</div>
<br />
<div class="row">
	<div class="twelve columns">
		<h5>Notes:</h5>
		<li>This program is written in <b>javascript</b></li>
		<li>This program should be entirely <b>client-side</b></li>
		<li>Therefore, the security/allowable use of this program is based on your computer and browser security</li>
	</div>
</div>
