{% include header.html %}
{{ content }}
<form action="https://getsimpleform.com/messages?form_api_token=cdf93971a669622c4196a3144b8be60a" method="post">
  <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
  <input type='hidden' name='redirect_to' value='{{ site.url }}/thanks.html' />
  <!-- all your input fields here.... -->
  <div class="row">Name:</div>
  <input type='text' name='name' class="row"/>
  <div class="row">Email:</div>
  <input type='text' name='email' class="row" />
  <div class="row">Phone (if you want):</div>
  <input type='text' name='phone' class="row" />
  <div class="row">What's up?</div>
  <textarea name="message" class="u-full-width"></textarea>
  <input type='submit' value='send message' class="row"/>
</form>
{% include footer.html %}